.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 100px 200px 100px;
    grid-gap: 10px;

    grid-template-areas: "header header header header"
                         "content footer d sidebar" 
                         "e f g sidebar";
}

.itemA {
    background-color: yellow;
    grid-area: header;
    
  }

  .itemB {
    background-color: aquamarine;
    grid-area: content;
    
  }
  .itemH     {
    background-color: rgb(82, 17, 187);
    grid-area: sidebar;
    
  }

  .itemC {
    background-color: rgb(12, 44, 150);
    grid-area: footer;
    
  }

  .itemD {
    background-color: rgb(126, 43, 182);
    grid-area: d;
  }

  .itemE {
    background-color:yellow;
    grid-area: e;
  }

  .itemF{
    background-color:yellow;
    grid-area: f;
  }
  .itemG {
    background-color:yellow;
    grid-area: g;
  }