.quadrado {
  width: 300px;
  height: 300px;
  background-color: blue;
}

@media screen and (min-device-width: 600px) and (orientation: portrait){
  .quadrado{
   background-color: red; 
  } 
 }
 @media screen and (min-device-width: 900px){
  .quadrado{
  background-color: yellow;  
  } 
 }