.quadrado {
  width: 300px;
  height: 300px;
  background-color: blue;
}
@media screen and (min-width: 600px){
 .quadrado{
  background-color: red; 
 } 
}
@media screen and (min-width: 900px){
 .quadrado{
 background-color: yellow;  
 } 
}