.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 100px 200px 100px;
    grid-gap: 10px;
    grid-template-areas: "header header header header"
                           "content content content sidebar" 
                           "footer d e sidebar ";
                      
   
   }
      
   .itemA {
    background-color: yellow;
    grid-area: header;
    
  }
  
  .itemB {
    background-color: aquamarine;
    grid-area: content;
    
  } 

  .itemF {
    background-color: rgb(153, 12, 158);
    grid-area: sidebar;
    
  } 

  .itemC {
    background-color:rgb(73, 175, 153);
    grid-area: footer;
  } 
  
  .itemD {
    background-color: pink;
    grid-area: d;
  } 

  .itemE {
    background-color: yellow;
    grid-area: e;
  } 